@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin for-section {
    position: relative;
    width: 1440px;
    max-width: 95%;
    height: 600px;
    margin: 30px auto;;
    background-color: #efefef;
    overflow: hidden;
}

@mixin for-wrapper {
    position: relative;
    display: flex;
    width: 1180px;
    max-width: 95%;
    height: 100%;
    margin: 0 auto;
}

#hero {
    @include for-section;

    header {
        height: 80px;

        nav.desktopNav {
            
            ul {
                display: flex;
                justify-content: flex-end;
                list-style-type: none;

                li {
                    margin-right: 2%;
                    margin-top: 2%;
                    text-transform: uppercase;
                    transition: .75s;
                    border-bottom: 1px solid transparent;
                    cursor: pointer;
                    font-family: 'Raleway', Helvetica, sans-serif;
                }

                li:hover {
                    border-bottom: 1px solid black;
                }
            }
        }
    }

    .wrapper {
        @include for-wrapper;

        .welcome {
            display: flex;
            flex-direction: column;
            width: 45%;

            h1 {
                margin-top: 15%;
                font-family: 'Raleway', Helvetica, sans-serif;
                font-size: 42px;
                font-weight: lighter;
                margin-bottom: 4%
            }

            p {
                font-family: 'Raleway', Helvetica, sans-serif;
                font-size: 16px;
                font-style: italic;
                font-weight: lighter;
                word-spacing: 10px;
            }
        }

        .photo {
            position: relative;
            width: 55%;

            img {
                position: absolute;
                    bottom: 12%;
                    width: 100%;
                    opacity: .9;
            }
        }
    }
}

#about {
    @include for-section;

    .wrapper {
        @include for-wrapper;
        justify-content: center;
        align-items: center;

        .cameraPhoto {
            margin-right: 4%;

            img {
                width: 85%;
                height: auto;
            }
        }

        .introduce {
            width: 60%;

            h3:before {
                content:"";
                position: relative;
                display: inline-block;
                width: 70px;
                height: 1px;
                bottom: 15px;
                margin-right: 30px;
                background-color: #111;
            }

            h3 {
                font-family: 'Raleway', Helvetica, sans-serif;
                font-size: 42px;
                font-weight: 100;
                margin-bottom: 5%; 
            }

            p {
                font-family: 'Raleway', Helvetica, sans-serif;
                font-style: italic;
                font-size: 14px;
                font-weight: 300;
                word-spacing: 1px;
                line-height: 2;
            }
            
            .social {
                margin-top: 15%;

                a {
                    margin-right: 5%;
                    color: #909090;
                    transition: .5s;
                }

                a:hover {
                    color: #000000;
                }
            }   
        }
    }
}

#fullSizeSlider {
    @include for-section;

        .carousel {

            .carousel-inner {
                display: flex;
                align-items: center;
                height: 600px;
            }
            .carousel-control-next, .carousel-control-prev {
                height: 600px;
            }
    
            .carousel-control-next-icon, .carousel-control-prev-icon {
                height: 40px;
                width: 40px;
            }
    
        }
}

